<div class="container text-center my-5"> 
  <h1>Succès</h1> 
  <p>
    Nous avons bien reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.
  </p>                                                                                       # Note number_to_currency est juste une méthode de Rails pour afficher plus joliment des chiffres
  <p>Le statut de votre paiement est : <%= @payment_intent.status %>.</p> 
</div>