<h1>Order#show</h1>
<p>Find me in app/views/order/show.html.erb</p>

<center>
<br>
<br>
<h1>Merci pour votre commande</h1>
<p>D'ici quelques minutes, vous allez recevoir un mail de confirmation.</p>
<p><strong>On espère vous revoir bientôt !</strong></p>
</center>

<p><strong>Recapitulatif de votre commande</strong></p>
<% @order_line_carts.each_with_index do |line_cart, index| %>
    <%=line_cart.quantity%>
    <%=item = line_cart.item%>
    <%= item.title%>
    <%= item.price%>
    <% end %>
