.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.form-container form {
  width: 300px; /* adjust as needed */
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.actions {
  margin-top: 10px;
}

.edit-form-container form {
  width: 70%; /* adjust as needed */
  max-width: 100%;
  padding: 20px;
  border: 1px solid #fcdabe;
  border-radius: 1px;
  background-color: #fff;
}

.h6 {
  color: #a09f9f
  ;
}


